@charset "UTF-8";

@font-face {
    font-family: "Bender";
    src: url("./fonts/Bender.otf");
}

body {
    font-family: "Bender", sans-serif;
    margin: 20px;
}

h1 {
    color: #535c13;
}

h2 {
    color: #535c13;
    border-bottom: 2px solid #535c13;
    padding-bottom: 5px;
    margin-top: 20px;
}

p {
    line-height: 1.6;
}

a {
    color: #535c13;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
